<script lang="ts">
    import { onMount } from "svelte";
    import { get } from "svelte/store";
    import { push } from "svelte-spa-router";
    import { _ } from "svelte-i18n";
    import type { PassmanClient } from "@binsky/passman-client-ts";
    import passmanStore from "../../lib/stores/passman";
    import { notyError } from "../../lib/NotyService";
    import Sidebar from "../../lib/partials/Sidebar/Sidebar.svelte";
    import Loading from "../../lib/partials/Loading.svelte";
    import { openVault, VAULT_SETTINGS_SECTIONS } from "../../lib/utils";
    import type Vault from "@binsky/passman-client-ts/lib/Model/Vault";
    import GeneralSettings from "../../lib/partials/VaultSettingsSections/GeneralSettings.svelte";
    import VaultExport from "../../lib/partials/VaultSettingsSections/VaultExport.svelte";
    import VaultSettingsSidebarBody from "../../lib/partials/Sidebar/VaultSettingsSidebarBody.svelte";
    import VaultImport from "../../lib/partials/VaultSettingsSections/VaultImport.svelte";
    import SharingSettings from "../../lib/partials/VaultSettingsSections/SharingSettings.svelte";
    import PasswordAudit from "../../lib/partials/VaultSettingsSections/PasswordAudit.svelte";
    import PasswordSettings from "../../lib/partials/VaultSettingsSections/PasswordSettings.svelte";

    export let params: { vaultGuid?: string } = {};

    let passmanClient: PassmanClient;
    let vault: Vault;
    let menuClosed: boolean;

    let selectedSection: VAULT_SETTINGS_SECTIONS = VAULT_SETTINGS_SECTIONS.GENERAL;

    onMount(async () => {
        if (params.vaultGuid) {
            passmanClient = get<PassmanClient>(passmanStore);
            const _vault = await passmanClient.getVaultByGuid(params.vaultGuid);
            if (!_vault) {
                notyError($_('vault.errors.get_by_uuid_failed'));
                await push('/');
                return;
            }
            if (!openVault(_vault)) {
                notyError($_('vault.errors.decryption_key_not_found'));
                await push('/vaults/login/' + params.vaultGuid);
                return;
            }

            // success
            vault = _vault;
        } else {
            notyError($_('vault.errors.no_vault_selected'));
            await push('/');
        }
    });
</script>

{#if vault}
    <Sidebar bind:closed={menuClosed}>
        <VaultSettingsSidebarBody bind:closed={menuClosed} bind:selectedSection bind:vault/>
    </Sidebar>
    <div class="md:pl-[17rem] pt-16 md:pt-4 md:flex">
        {#if selectedSection === VAULT_SETTINGS_SECTIONS.GENERAL}
            <GeneralSettings bind:vault/>
        {:else if selectedSection === VAULT_SETTINGS_SECTIONS.PASSWORD_AUDIT}
            <PasswordAudit/>
        {:else if selectedSection === VAULT_SETTINGS_SECTIONS.PASSWORD_SETTINGS}
            <PasswordSettings/>
        {:else if selectedSection === VAULT_SETTINGS_SECTIONS.IMPORT}
            <VaultImport/>
        {:else if selectedSection === VAULT_SETTINGS_SECTIONS.EXPORT}
            <VaultExport/>
        {:else if selectedSection === VAULT_SETTINGS_SECTIONS.SHARING}
            <SharingSettings/>
        {/if}
    </div>
{:else}
    <Loading/>
{/if}
