<script lang="ts">
    import type { CredentialInterface } from "@binsky/passman-client-ts/lib/Interfaces/Credential/CredentialInterface";
    import { _ } from "svelte-i18n";
    import PasswordMeter from "../VaultView/PasswordMeter.svelte";
    import { onMount } from "svelte";
    import ExtendedPasswordInputField from "../FormElements/ExtendedPasswordInputField.svelte";
    import type {
        PasswordGeneratorConfigurationInterface
    } from "@binsky/passman-client-ts/lib/Interfaces/PasswordGeneratorService/PasswordGeneratorConfigurationInterface";
    import { PasswordGeneratorService } from "@binsky/passman-client-ts/lib/Service/PasswordGeneratorService";
    import CustomCheckboxField from "../FormElements/CustomCheckboxField.svelte";
    import MySveltyPicker from "../InteractionElements/MySveltyPicker.svelte";

    export let credentialData: CredentialInterface;
    let password = "", passwordRepeat = "";
    let expire_time_string = null;
    let initDone = false;
    let passwordGeneratorConfiguration: PasswordGeneratorConfigurationInterface = PasswordGeneratorService.getDefaultConfig();

    const checkUpdatePasswordField = () => {
        if (initDone) {
            if (password == passwordRepeat) {
                credentialData.password = password;
            } else {
                credentialData.password = undefined;
            }
        }
    }

    const updateExpireTime = (expire_time_string: string) => {
        if (initDone) {
            if (expire_time_string == null) {
                credentialData.expire_time = 0;
            } else {
                credentialData.expire_time = parseInt(expire_time_string) / 1000;
            }
        }
    }

    $: password && passwordRepeat && checkUpdatePasswordField();
    $: updateExpireTime(expire_time_string);

    onMount(() => {
        password = credentialData.password;
        passwordRepeat = credentialData.password;
        if (credentialData.expire_time > 0) {
            expire_time_string = "" + credentialData.expire_time * 1000;
        }
        initDone = true;
    });
</script>

{#if credentialData}
    <div class="md:basis-1/2 px-2 md:pl-0">
        <div>
            <ExtendedPasswordInputField label="{$_('credential.field.password')}" bind:value={password}
                                        bind:passwordGeneratorConfiguration
                                        afterPWGenCallback={(generated) => {
                                            passwordRepeat = generated;
                                        }}
            />
        </div>
        <div class="mt-[5px]">
            <PasswordMeter password={password}/>
            {#if password !== passwordRepeat}
                <p class="text-red-500">
                    {$_('credential.edit.password_match_missing')}
                </p>
            {/if}
        </div>
        <div class="mt-2">
            <ExtendedPasswordInputField label="{$_('credential.edit.password_repeat')}" bind:value={passwordRepeat}
                                        showCopyClipboardButton={false}/>
        </div>
        <div class="mt-4">
            <MySveltyPicker id="expire_date" label="{$_('credential.edit.expire_date')}" startDate="now"
                            bind:value={expire_time_string} placeholder="{$_('credential.edit.no_expire_date')}"/>
        </div>
    </div>
    <div class="md:basis-1/2 px-2 md:mt-0 mt-4">
        <h3 class="font-bold">
            {$_('password_generator.label')}
        </h3>
        <div class="mt-6">
            <div class="text-sm mt-2 space-x-2">
                <span>{$_('password_generator.length')}:</span>
                <input type="number" bind:value={passwordGeneratorConfiguration.length} min="6"
                       class="dark:bg-neutral w-16"
                       style="-moz-appearance: initial; -webkit-appearance: initial;">
            </div>
            <div class="mt-2">
                <CustomCheckboxField bind:value={passwordGeneratorConfiguration.useUppercase}
                                     label={$_('password_generator.useUppercase')}
                                     id="useUppercase"/>
            </div>
            <div class="mt-2">
                <CustomCheckboxField bind:value={passwordGeneratorConfiguration.useLowercase}
                                     label={$_('password_generator.useLowercase')}
                                     id="useLowercase"/>
            </div>
            <div class="mt-2">
                <CustomCheckboxField bind:value={passwordGeneratorConfiguration.useDigits}
                                     label={$_('password_generator.useDigits')}
                                     id="useDigits"/>
            </div>
            <div class="mt-2">
                <CustomCheckboxField bind:value={passwordGeneratorConfiguration.useSpecialChars}
                                     label={$_('password_generator.useSpecialChars')}
                                     id="useSpecialChars"/>
            </div>
            <div class="mt-2">
                <CustomCheckboxField bind:value={passwordGeneratorConfiguration.avoidAmbiguousCharacters}
                                     label={$_('password_generator.avoidAmbiguousCharacters')}
                                     id="avoidAmbiguousCharacters"/>
            </div>
            <div class="mt-2">
                <CustomCheckboxField bind:value={passwordGeneratorConfiguration.requireEveryCharType}
                                     label={$_('password_generator.requireEveryCharType')}
                                     id="requireEveryCharType"/>
            </div>
        </div>
    </div>
{/if}
