<script lang="ts">
    import type { CredentialInterface } from "@binsky/passman-client-ts/lib/Interfaces/Credential/CredentialInterface";
    import { _ } from "svelte-i18n";
    import OTPGenerator from "../VaultView/OTPGenerator.svelte";
    import CopyClipboardButton from "../InteractionElements/CopyClipboardButton.svelte";
    import CustomInputField from "../FormElements/CustomInputField.svelte";
    import { OTPService } from "@binsky/passman-client-ts/lib/Service/OTPService";
    import { onMount } from "svelte";
    import { notyError } from "../../NotyService";
    import OnClickButton from "../InteractionElements/OnClickButton.svelte";
    import InPlaceEdit from "../FormElements/InPlaceEdit.svelte";
    import SimpleDropdownSelectBox from "../FormElements/SimpleDropdownSelectBox.svelte";
    import { OTPAlgorithmOptions } from "@binsky/passman-client-ts/lib/Interfaces/Credential/OTPConfigInterface";

    export let credentialData: CredentialInterface;
    let otpToken: string;

    const syncSecret = (event: any) => {
        if (credentialData.otp == null) {
            credentialData.otp = {};
            OTPService.mergeDefaultOTPConfig(credentialData.otp);
        }
        if (credentialData.otp.secret !== event.target.value) {
            credentialData.otp.secret = event.target.value;
            updateGenerateQRCode();
        }
    }

    const updateGenerateQRCode = () => {
        try {
            OTPService.updateQRFromCurrentOTPValues(credentialData.otp);
        } catch (e) {
            console.error(e);
            notyError($_("credential.edit.otp.secret_invalid"));
        }
    }

    const readQRFromInput = (changeEvent) => {
        const reader = new FileReader(), file = changeEvent.target.files[0];
        reader.readAsDataURL(file);
        reader.onload = (() => {
            return async (e) => {
                credentialData.otp = await OTPService.parseOTPQrCodeFromInputFileData(e.target.result)
            };
        })();
    }

    const clearOTPConfig = () => {
        credentialData.otp = {};
    }

    onMount(() => {
        if (credentialData?.otp?.secret && !credentialData?.otp?.qr_uri?.image) {
            updateGenerateQRCode();
        }
    });
</script>

{#if credentialData}
    <div class="basis-1/2 pr-2">
        <div class="mt-2 mb-4">
            <CustomInputField label="{$_('credential.edit.otp.secret')}" value={credentialData.otp.secret}
                              onchange={syncSecret}/>
        </div>
        <div class="mt-2 mb-4">
            <input type="file" on:change={readQRFromInput}/>
        </div>
        {#if credentialData.otp != null}
            {#if credentialData.otp.qr_uri != null && credentialData.otp.qr_uri.image != null}
                <div class="mt-2 w-1/2">
                    <img src={credentialData.otp.qr_uri.image} class="border-white border-2 bg-white"
                         alt="otp qr code"/>
                </div>
            {/if}
            {#if credentialData.otp.secret}
                <div class="flex flex-wrap text-sm mt-2 w-1/2">
                    <div class="basis-3/12 grow">{$_('credential.edit.otp.label')}:</div>
                    <div class="basis-9/12 break-all">
                        <InPlaceEdit bind:value={credentialData.otp.label} on:submit={updateGenerateQRCode}/>
                    </div>
                </div>
                <div class="flex flex-wrap text-sm mt-2 w-1/2">
                    <div class="basis-3/12 grow">{$_('credential.edit.otp.issuer')}:</div>
                    <div class="basis-9/12 break-all">
                        <InPlaceEdit bind:value={credentialData.otp.issuer} on:submit={updateGenerateQRCode}/>
                    </div>
                </div>
            {/if}
            {#if credentialData.otp.type != null}
                <div class="flex flex-wrap text-sm mt-2 w-1/2">
                    <div class="basis-3/12 grow">{$_('credential.edit.otp.type')}:</div>
                    <div class="basis-9/12 break-all">
                        {credentialData.otp.type}
                    </div>
                </div>
            {/if}
            {#if credentialData.otp.digits != null}
                <div class="flex flex-wrap text-sm mt-2 w-1/2">
                    <div class="basis-3/12 grow">{$_('credential.edit.otp.digits')}:</div>
                    <div class="basis-9/12 break-all">
                        <input type="number" bind:value={credentialData.otp.digits} min="6"
                               on:change={updateGenerateQRCode} class="dark:bg-neutral"
                               style="-moz-appearance: initial; -webkit-appearance: initial;">
                    </div>
                </div>
            {/if}
            {#if credentialData.otp.period != null}
                <div class="flex flex-wrap text-sm mt-2 w-1/2">
                    <div class="basis-3/12 grow">{$_('credential.edit.otp.period')}:</div>
                    <div class="basis-9/12 break-all">
                        <input type="number" bind:value={credentialData.otp.period} min="30"
                               on:change={updateGenerateQRCode} class="dark:bg-neutral"
                               style="-moz-appearance: initial; -webkit-appearance: initial;">
                    </div>
                </div>
            {/if}
            {#if credentialData.otp.algorithm != null}
                <div class="flex flex-wrap text-sm mt-2 w-1/2">
                    <div class="basis-3/12 grow">{$_('credential.edit.otp.algorithm')}:</div>
                    <div class="basis-9/12 break-all">
                        <SimpleDropdownSelectBox bind:value={credentialData.otp.algorithm} options={OTPAlgorithmOptions}
                                                 small={true} onChangeCallback={updateGenerateQRCode}/>
                    </div>
                </div>
            {/if}
            {#if credentialData.otp.secret != null}
                <div class="flex flex-wrap text-sm mt-2 w-1/2">
                    <div class="basis-3/12 grow">{$_('credential.field.otp')}:</div>
                    <div class="basis-9/12 break-all">
                        <OTPGenerator bind:otp={credentialData.otp} bind:token={otpToken} hideHiddenToggle={true}/>
                        <CopyClipboardButton bind:value={otpToken} buttonTitle="{$_('vault.list.copy_to_clipboard')}"
                                             fieldTitle="{$_('credential.field.otp')}"/>
                    </div>
                </div>
            {/if}
        {/if}

        <OnClickButton title="{$_('credential.edit.otp.clear_all')}" callback={clearOTPConfig}
                       additionalClasses="mt-4 bg-red-600 hover:bg-red-500">
            {$_('credential.edit.otp.clear_all')}
        </OnClickButton>
    </div>
{/if}
