<script lang="ts">
    import type { CredentialInterface } from "@binsky/passman-client-ts/lib/Interfaces/Credential/CredentialInterface";
    import Credential from "@binsky/passman-client-ts/lib/Model/Credential";
    import { _ } from "svelte-i18n";
    import type { FileInterface } from "@binsky/passman-client-ts/lib/Interfaces/File/FileInterface";
    import { notyError, notySuccess } from "../../NotyService";
    import trashO from "svelte-awesome/icons/trashO";
    import Icon from "svelte-awesome/components/Icon.svelte";
    import Time from "svelte-time";
    import { CustomMathsService } from "@binsky/passman-client-ts/lib/Service/CustomMathsService";
    import InPlaceEdit from "../FormElements/InPlaceEdit.svelte";

    export let credentialData: CredentialInterface;
    export let credential: Credential;  // only used for file encryption and upload

    const readFile = (changeEvent) => {
        const reader = new FileReader();
        const localFile: File = changeEvent.target.files[0];

        reader.onload = async (event) => {
            // triggers if the selected file is successfully loaded from disk (for every reader.readAsDataURL(file) call)
            const plainFile: FileInterface = {
                data: event.target.result.toString(),
                filename: localFile.name,
                mimetype: localFile.type,
                size: localFile.size
            };
            const uploadResponse = await credential.encryptUploadFile(plainFile);
            if (uploadResponse) {
                delete plainFile.data;
                plainFile.file_id = uploadResponse.file_id;
                plainFile.guid = uploadResponse.guid;
                plainFile.created = uploadResponse.created;
                credentialData.files.push(plainFile);
                credentialData.files = credentialData.files;
                notySuccess($_("credential.edit.files.upload_succeeded"));

                // clear file selection input
                changeEvent.target.files = new DataTransfer().files;
            } else {
                notyError($_("credential.edit.files.upload_failed"));
            }
        };

        reader.readAsDataURL(localFile);
    }

    const deleteFile = async (file: FileInterface) => {
        const deleteResponse = await credential.deleteFile(file);
        if (deleteResponse) {
            const pos = credentialData.files.indexOf(file);
            credentialData.files.splice(pos, 1);
            credentialData.files = credentialData.files;
            notySuccess($_("credential.edit.files.deletion_succeeded"));
        } else {
            notyError($_("credential.edit.files.deletion_failed"));
        }
    }
</script>

{#if credentialData}
    <div class="w-full pr-2">
        <div class="mt-2 mb-8">
            <input type="file" on:change={readFile}/>
        </div>
        <table class="table table-sm">
            <tr class="font-bold bg-base-300 dark:bg-neutral">
                <td class="flex flex-wrap hover">
                    <div class="basis-5/12">{$_("credential.edit.files.header.name")}</div>
                    <div class="basis-3/12">{$_("credential.edit.files.header.created")}</div>
                    <div class="basis-2/12">{$_("credential.edit.files.header.size")}</div>
                </td>
            </tr>
            {#key credentialData.files}
                {#each credentialData.files as file}
                    <tr class="hover dark:hover:!bg-neutral">
                        <td class="flex flex-wrap">
                            <div class="basis-5/12 text-start break-all">
                                <InPlaceEdit bind:value={file.filename}/>
                            </div>
                            <div class="basis-3/12">
                                <Time timestamp={file.created * 1000} format="YYYY-MM-DD HH:mm:ss"/>
                            </div>
                            <div class="basis-2/12">
                                <p>{CustomMathsService.calculateFromByte(file.size)}</p>
                            </div>
                            <div class="basis-1/12 md:basis-2/12">
                                <button on:click={() => deleteFile(file)}
                                        title="{$_('vault.list.delete')}"
                                        class="cursor-pointer px-0.5 hover:text-red-600">
                                    <Icon data={trashO} scale={1.0}/>
                                </button>
                            </div>
                        </td>
                    </tr>
                {/each}
            {/key}
        </table>
    </div>
{/if}
