<script lang="ts">
    import type { CredentialInterface } from "@binsky/passman-client-ts/lib/Interfaces/Credential/CredentialInterface";
    import type {
        CustomFieldInterface
    } from "@binsky/passman-client-ts/lib/Interfaces/Credential/CustomFieldInterface";
    import Credential from "@binsky/passman-client-ts/lib/Model/Credential";
    import { _ } from "svelte-i18n";
    import trashO from "svelte-awesome/icons/trashO";
    import InPlaceEdit from "../FormElements/InPlaceEdit.svelte";
    import Icon from "svelte-awesome/components/Icon.svelte";
    import refresh from "svelte-awesome/icons/refresh";
    import plus from "svelte-awesome/icons/plus";
    import CustomInputField from "../FormElements/CustomInputField.svelte";
    import OnClickButton from "../InteractionElements/OnClickButton.svelte";
    import type { FileInterface } from "@binsky/passman-client-ts/lib/Interfaces/File/FileInterface";
    import { notyError, notySuccess } from "../../NotyService";
    import SimpleDropdownSelectBox from "../FormElements/SimpleDropdownSelectBox.svelte";

    export let credentialData: CredentialInterface;
    export let credential: Credential;  // only used for file encryption and upload

    let newFieldLabel = '';
    let newFieldValueText = '';
    let newFieldType = 'text';
    let newSelectedLocalFile: File;
    let lockAddButton = false;
    let customFieldReactivityCounter = 0;

    const customFieldTypes = {
        "text": $_('credential.edit.custom_fields.types.text'),
        "password": $_('credential.edit.custom_fields.types.password'),
        "file": $_('credential.edit.custom_fields.types.file')
    }

    const resetNewFieldInputs = () => {
        newFieldLabel = '';
        newFieldValueText = '';
        newFieldType = 'text';
        newSelectedLocalFile = undefined;
        lockAddButton = false;
        customFieldReactivityCounter++;
    }

    const selectFile = (changeEvent) => {
        newSelectedLocalFile = changeEvent.target.files[0];
    }

    const addNewField = () => {
        if (newFieldType === 'file') {
            if (newSelectedLocalFile) {
                lockAddButton = true;
                const reader = new FileReader();

                reader.onload = async (event) => {
                    // triggers if the selected file is successfully loaded from disk (for every reader.readAsDataURL(file) call)
                    const plainFile: FileInterface = {
                        data: event.target.result.toString(),
                        filename: newSelectedLocalFile.name,
                        mimetype: newSelectedLocalFile.type,
                        size: newSelectedLocalFile.size
                    };
                    const uploadResponse = await credential.encryptUploadFile(plainFile);
                    if (uploadResponse) {
                        delete plainFile.data;
                        plainFile.file_id = uploadResponse.file_id;
                        plainFile.guid = uploadResponse.guid;
                        plainFile.created = uploadResponse.created;
                        notySuccess($_("credential.edit.files.upload_succeeded"));

                        const newField: CustomFieldInterface = {
                            label: newFieldLabel,
                            secret: false,
                            field_type: newFieldType,
                            value: plainFile
                        };
                        credentialData.custom_fields.push(newField);
                    } else {
                        notyError($_("credential.edit.files.upload_failed"));
                    }
                    resetNewFieldInputs();
                };

                reader.readAsDataURL(newSelectedLocalFile);
            } else {
                notyError($_('credential.edit.custom_fields.error_no_file_selected'));
            }
        } else {
            lockAddButton = true;
            const newField: CustomFieldInterface = {
                label: newFieldLabel,
                secret: (newFieldType === 'password'),
                field_type: newFieldType,
                value: newFieldValueText
            };
            credentialData.custom_fields.push(newField);
            resetNewFieldInputs();
        }
    }

    const deleteField = async (field: CustomFieldInterface) => {
        if (field.field_type === 'file') {
            const deleteResponse = await credential.deleteFile(field.value);
            if (deleteResponse) {
                notySuccess($_("credential.edit.files.deletion_succeeded"));
            } else {
                notyError($_("credential.edit.files.deletion_failed"));
            }
        }
        const pos = credentialData.custom_fields.indexOf(field);
        credentialData.custom_fields.splice(pos, 1);
        customFieldReactivityCounter++;
    }
</script>

{#if credentialData}
    <div class="w-full px-2 md:pl-0">
        <div class="mt-2 mb-8 md:flex md:flex-wrap">
            <div class="md:basis-4/12 pr-2">
                <CustomInputField label="{$_('credential.edit.custom_fields.header.label')}"
                                  bind:value={newFieldLabel}/>
            </div>
            <div class="md:basis-4/12 pr-2">
                {#if newFieldType === 'file'}
                    <input type="file" on:change={selectFile}/>
                {:else}
                    <CustomInputField label="{$_('credential.edit.custom_fields.header.value')}"
                                      bind:value={newFieldValueText} bind:type={newFieldType}/>
                {/if}
            </div>
            <div class="md:basis-4/12 space-x-2">
                {$_("credential.edit.custom_fields.header.type")}:
                <SimpleDropdownSelectBox bind:value={newFieldType} options={customFieldTypes} />
                <OnClickButton callback={addNewField} title="{$_('credential.edit.custom_fields.header.add')}"
                               bind:disabled="{lockAddButton}">
                    {#if lockAddButton}
                        <Icon data={refresh} scale={1.3} spin="{true}"/>
                    {:else}
                        <Icon data={plus} scale={1.3}/>
                    {/if}
                </OnClickButton>
            </div>
        </div>
        <table class="table table-sm">
            <tr class="font-bold bg-base-300 dark:bg-neutral">
                <td class="flex flex-wrap hover">
                    <div class="basis-4/12">{$_("credential.edit.custom_fields.header.label")}</div>
                    <div class="basis-4/12">{$_("credential.edit.custom_fields.header.value")}</div>
                    <div class="basis-2/12">{$_("credential.edit.custom_fields.header.type")}</div>
                </td>
            </tr>
            {#key customFieldReactivityCounter}
                {#each credentialData.custom_fields as custom_field}
                    <tr class="hover dark:hover:!bg-neutral">
                        <td class="md:flex md:flex-wrap">
                            <div class="md:basis-8/12 flex flex-wrap">
                                <div class="basis-6/12 text-start break-all">
                                    <InPlaceEdit bind:value={custom_field.label}/>
                                </div>
                                <div class="basis-6/12">
                                    {#if custom_field.field_type === 'file'}
                                        <InPlaceEdit bind:value={custom_field.value.filename}/>
                                    {:else if custom_field.field_type === 'password'}
                                        <InPlaceEdit bind:value={custom_field.value} isSecret={true}/>
                                    {:else}
                                        <InPlaceEdit bind:value={custom_field.value}/>
                                    {/if}
                                </div>
                            </div>
                            <div class="md:basis-4/12 flex flex-wrap">
                                <div class="basis-1/2">
                                    {customFieldTypes[custom_field.field_type]}
                                </div>
                                <div class="basis-1/2">
                                    <button on:click={() => deleteField(custom_field)}
                                            title="{$_('vault.list.delete')}"
                                            class="cursor-pointer px-0.5 hover:text-red-600">
                                        <Icon data={trashO} scale={1.0}/>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                {/each}
            {/key}
        </table>
    </div>
{/if}
