<script lang="ts">
    import { _ } from "svelte-i18n";
    import CustomInputField from "../FormElements/CustomInputField.svelte";
    import OnClickButton from "../InteractionElements/OnClickButton.svelte";
    import type { CredentialInterface } from "@binsky/passman-client-ts/lib/Interfaces/Credential/CredentialInterface";
    import { onMount } from "svelte";
    import PasswordMeter from "../VaultView/PasswordMeter.svelte";
    import exclamationCircle from "svelte-awesome/icons/exclamationCircle";
    import Icon from "svelte-awesome/components/Icon.svelte";
    import { PasswordGeneratorService } from "@binsky/passman-client-ts/lib/Service/PasswordGeneratorService";
    import ExtendedPasswordInputField from "../FormElements/ExtendedPasswordInputField.svelte";
    import Tags from 'svelte-tags-input';

    export let credentialData: CredentialInterface;

    let password = "", passwordRepeat = "";
    let tags = [];
    let initDone = false;

    const markAsCompromised = () => {
        console.log('markAsCompromised');
        credentialData.compromised = true;
    }

    const checkUpdatePasswordField = () => {
        if (initDone) {
            if (password == passwordRepeat) {
                credentialData.password = password;
            } else {
                credentialData.password = undefined;
            }
        }
    }

    const updateTags = () => {
        if (initDone) {
            credentialData.tags = tags.map(value => {
                return { text: value }
            });
        }
    }

    const customTagValidator = (tag: string) => {
        return tag.length > 2;
    }

    $: password && passwordRepeat && checkUpdatePasswordField();
    $: tags && updateTags();

    onMount(() => {
        tags = credentialData ? credentialData.tags.map(value => value.text) : [];
        password = credentialData.password;
        passwordRepeat = credentialData.password;
        initDone = true;
    });
</script>

{#if credentialData}
    <div class="md:basis-1/2 px-2 md:pl-0">
        <CustomInputField label="{$_('credential.field.label')}" bind:value={credentialData.label}/>
        <div class="mt-2">
            <CustomInputField label="{$_('credential.field.username')}" bind:value={credentialData.username}/>
        </div>
        <div class="mt-2">
            <CustomInputField label="{$_('credential.field.email')}" bind:value={credentialData.email}/>
        </div>
        <div class="mt-2">
            <ExtendedPasswordInputField label="{$_('credential.field.password')}" bind:value={password}
                                        passwordGeneratorConfiguration={PasswordGeneratorService.getDefaultConfig()}
                                        afterPWGenCallback={(generated) => {
                                            passwordRepeat = generated;

                                            // auto reset compromised state with password generation
                                            credentialData.compromised = false;
                                        }}
            />
        </div>
        <div class="mt-[5px]">
            <PasswordMeter password={password}/>
            {#if password !== passwordRepeat}
                <p class="text-red-500">
                    {$_('credential.edit.password_match_missing')}
                </p>
            {/if}
        </div>
        <div class="mt-2">
            <ExtendedPasswordInputField label="{$_('credential.edit.password_repeat')}" bind:value={passwordRepeat}
                                        showCopyClipboardButton={false}/>
        </div>
        <div class="mt-2">
            <CustomInputField label="{$_('credential.field.url')}" bind:value={credentialData.url}/>
        </div>
    </div>
    <div class="md:basis-1/2 px-2">
        <CustomInputField label="{$_('credential.field.description')}" bind:value={credentialData.description}
                          type="textarea"/>
        <div class="mt-2">
            <Tags bind:tags allowPaste={true} allowDrop={true} onlyUnique={true} labelText="Tags:" labelShow={true}
                  placeholder="Add a tag" customValidation={customTagValidator}/>
        </div>
        {#if credentialData.compromised}
            <div class="mt-2">
                <div class="text-sm text-red-600 !mb-4">
                    <Icon data={exclamationCircle} scale={1.0}/>
                    {$_('credential.details.compromised_notice')}
                </div>
            </div>
        {/if}
        <div class="mt-2">
            <OnClickButton additionalClasses="bg-red-600 hover:bg-red-500"
                           callback="{markAsCompromised}">{$_('credential.edit.mark_compromised')}</OnClickButton>
        </div>
    </div>
{/if}
