<script lang="ts">
    import { _ } from "svelte-i18n";
    import CustomInputField from "../FormElements/CustomInputField.svelte";
    import Vault from "@binsky/passman-client-ts/lib/Model/Vault";
    import OnClickButton from "../InteractionElements/OnClickButton.svelte";
    import { notyError, notySuccess } from "../../NotyService";
    import PasswordMeter from "../VaultView/PasswordMeter.svelte";
    import CustomCheckboxField from "../FormElements/CustomCheckboxField.svelte";
    import type {
        ReEncryptionProgressInterface
    } from "@binsky/passman-client-ts/lib/Interfaces/ReEncryptionService/ReEncryptionProgressInterface";
    import { ReEncryptionService } from "@binsky/passman-client-ts/lib/Service/ReEncryptionService";
    import { push } from "svelte-spa-router";
    import { get } from "svelte/store";
    import type { PassmanClient } from "@binsky/passman-client-ts";
    import passmanStore from "../../stores/passman";
    import { BrowserStorage } from "../../stores/browser";

    export let vault: Vault;
    let newVaultName = vault?.name.slice();
    let currentVaultPassword;
    let newVaultPassword;
    let newVaultPasswordRepeat;
    let acceptPwChangeRisks = false;

    let deleteVaultPassword;
    let acceptVaultDeleteRisks = false;
    let deleteVaultPasswordRunning = false;

    let updateVaultPasswordState: ReEncryptionProgressInterface;
    /*let updateVaultPasswordState: ReEncryptionProgress = {
        credentialsStage: {
            doneSteps: 1,
            totalSteps: 6,
            messages: [
                "Re-encrypt credential: test1",
                "Re-encrypt credential: test2"
            ]
        },
        revisionsStage: null,
        filesStage: null,
        uploadStage: null,
    };*/
    let updateVaultPasswordAllErrors: string[] = [];
    let updateVaultPasswordFinished = false;
    let updateVaultPasswordRunning = false;

    const updateVaultName = async () => {
        const previousName = vault.name;
        vault.name = newVaultName;
        if (await vault.update()) {
            notySuccess($_("vault.settings.general.rename_success"));
        } else {
            // revert pre-changing vault name in the local stored object
            vault.name = previousName;
        }
    }

    const updateVaultPassword = async () => {
        updateVaultPasswordAllErrors = [];
        updateVaultPasswordFinished = false;
        updateVaultPasswordRunning = true;

        if (newVaultPassword !== newVaultPasswordRepeat) {
            notyError($_("credential.edit.password_match_missing"));
            return;
        }
        if (!newVaultPassword || newVaultPassword === '' || !currentVaultPassword || currentVaultPassword === '') {
            notyError($_("vault.settings.general.password_missing"));
            return;
        }

        const onProgress = (state: ReEncryptionProgressInterface) => {
            updateVaultPasswordState = state;
        };
        const onError = (nextErrorMessage: string) => {
            updateVaultPasswordAllErrors.push(nextErrorMessage);
            notyError(nextErrorMessage);
        };

        await ReEncryptionService.changeVaultKey(vault, currentVaultPassword, newVaultPassword, onProgress, onError);
        updateVaultPasswordFinished = true;

        if (updateVaultPasswordAllErrors.length === 0) {
            notySuccess("Changing vault key successfully finished.");
        } else {
            notyError("Changing vault key failed due to errors.")
        }
        updateVaultPasswordRunning = false;
    }

    const deleteVault = async () => {
        deleteVaultPasswordRunning = true;
        if (await vault.delete(deleteVaultPassword)) {
            // delete from local/memory vaults store
            BrowserStorage.clearAllStorageTypesForVaultGUID(vault.guid);
            let passmanClient = get<PassmanClient>(passmanStore);
            for (let i = 0; i < passmanClient.vaults.length; i++) {
                if (passmanClient.vaults[i].guid === vault.guid) {
                    passmanClient.vaults.splice(i, 1);
                }
            }
            notySuccess("Vault successfully deleted.");
            await push('/');
        } else {
            notyError("Vault deletion failed.");
        }
        deleteVaultPasswordRunning = false;
    }

    const scrollToBottom = (node, dependingArray) => {
        const scroll = () => node.scroll({
            top: node.scrollHeight,
            behavior: 'smooth',
        });
        scroll();

        return { update: scroll }
    };
</script>

<div class="md:basis-1/2 px-2 md:pl-0">
    <h3 class="font-bold mb-4">
        {$_('vault.settings.general.rename')}
    </h3>
    <div class="mt-2">
        <CustomInputField label="{$_('vault.settings.general.new_vault_name')}" bind:value={newVaultName}/>
    </div>
    <div class="mt-2">
        <OnClickButton callback="{updateVaultName}">{$_('vault.settings.buttons.change')}</OnClickButton>
    </div>


    <h3 class="font-bold mb-4 mt-8">
        {$_('vault.settings.general.change_vault_key')}
    </h3>
    {#if updateVaultPasswordState === undefined}
        <div class="mt-2">
            <CustomInputField label="{$_('vault.settings.general.current_password')}" bind:value={currentVaultPassword}
                              type="password"/>
        </div>
        <div class="mt-2">
            <CustomInputField label="{$_('vault.settings.general.new_password')}" bind:value={newVaultPassword}
                              type="password"/>
        </div>
        <div class="mt-[5px]">
            <PasswordMeter password={newVaultPassword}/>
            {#if newVaultPassword !== newVaultPasswordRepeat}
                <p class="text-red-500">
                    {$_('credential.edit.password_match_missing')}
                </p>
            {/if}
        </div>
        <div class="mt-2">
            <CustomInputField label="{$_('vault.settings.general.repeat_new_password')}"
                              bind:value={newVaultPasswordRepeat}
                              type="password"/>
        </div>
        <div class="mt-4">
            <p class="text-sm">{$_('vault.settings.general.change_password_hint')}</p>
        </div>
        <div class="mt-4">
            <CustomCheckboxField bind:value={acceptPwChangeRisks}
                                 label={$_('vault.settings.general.accept_risks')}
                                 id="acceptPwChangeRisks"/>
        </div>
        <div class="mt-4">
            <OnClickButton callback="{updateVaultPassword}"
                           disabled={!acceptPwChangeRisks || newVaultPassword !== newVaultPasswordRepeat || updateVaultPasswordRunning || deleteVaultPasswordRunning}>
                {$_('vault.settings.buttons.change')}
            </OnClickButton>
        </div>
    {:else}
        <div class="mt-2 mb-4">
            {#if updateVaultPasswordFinished}
                {#if updateVaultPasswordAllErrors.length > 0}
                    <p class="text-red-600">Changing vault key failed due to errors.</p>
                    <p class="text-red-600 text-sm">No persistent changes should have been made.</p>
                {:else}
                    <p class="text-green-600">Changing vault key successfully finished.</p>
                {/if}
            {/if}
        </div>
        <div class="mt-2">
            {#if updateVaultPasswordAllErrors.length > 0}
                <h4 class="font-bold">Errors:</h4>
                <div class="overflow-y-scroll w-full text-red-600 max-h-12 text-sm border">
                    {#each updateVaultPasswordAllErrors as errorMessage}
                        <p>{errorMessage}</p>
                    {/each}
                </div>
            {/if}
        </div>
        <div class="mt-2">
            {#if updateVaultPasswordState.credentialsStage}
                <p class="font-bold text-sm">Credential stage ({updateVaultPasswordState.credentialsStage.doneSteps}
                    / {updateVaultPasswordState.credentialsStage.totalSteps}):</p>
                <div class="overflow-y-scroll w-full px-2 my-2 max-h-24 text-sm border"
                     use:scrollToBottom={updateVaultPasswordState.credentialsStage.messages}>
                    {#each updateVaultPasswordState.credentialsStage.messages as message}
                        <p>{message}</p>
                    {/each}
                </div>
            {/if}
            {#if updateVaultPasswordState.revisionsStage}
                <p class="font-bold text-sm">Revisions stage ({updateVaultPasswordState.revisionsStage.doneSteps}
                    / {updateVaultPasswordState.revisionsStage.totalSteps}):</p>
                <div class="overflow-y-scroll w-full px-2 my-2 max-h-24 text-sm border"
                     use:scrollToBottom={updateVaultPasswordState.revisionsStage.messages}>
                    {#each updateVaultPasswordState.revisionsStage.messages as message}
                        <p>{message}</p>
                    {/each}
                </div>
            {/if}
            {#if updateVaultPasswordState.filesStage}
                <p class="font-bold text-sm">Files stage ({updateVaultPasswordState.filesStage.doneSteps}
                    / {updateVaultPasswordState.filesStage.totalSteps}):</p>
                <div class="overflow-y-scroll w-full px-2 my-2 max-h-24 text-sm border"
                     use:scrollToBottom={updateVaultPasswordState.filesStage.messages}>
                    {#each updateVaultPasswordState.filesStage.messages as message}
                        <p>{message}</p>
                    {/each}
                </div>
            {/if}
            {#if updateVaultPasswordState.uploadStage}
                <p class="font-bold text-sm">Upload stage ({updateVaultPasswordState.uploadStage.doneSteps}
                    / {updateVaultPasswordState.uploadStage.totalSteps}):</p>
                <div class="overflow-y-scroll w-full px-2 my-2 max-h-24 text-sm border"
                     use:scrollToBottom={updateVaultPasswordState.uploadStage.messages}>
                    {#each updateVaultPasswordState.uploadStage.messages as message}
                        <p>{message}</p>
                    {/each}
                </div>
            {/if}
        </div>
    {/if}

    <h3 class="font-bold mb-4 mt-8">
        {$_('vault.settings.general.delete')}
    </h3>
    <h4 class="font-bold text-sm mt-2 mb-4">
        {$_('vault.settings.general.delete_irreversible_hint')}
    </h4>
    <div class="mt-2">
        <CustomInputField label="{$_('vault.settings.general.confirm_password')}"
                          bind:value={deleteVaultPassword}
                          type="password"/>
    </div>
    <div class="mt-4">
        <CustomCheckboxField bind:value={acceptVaultDeleteRisks}
                             label={$_('vault.settings.general.delete_confirm_hint')}
                             id="acceptVaultDeleteRisks"/>
    </div>
    <div class="mt-4">
        <OnClickButton callback="{deleteVault}"
                       disabled={!acceptVaultDeleteRisks || !deleteVaultPassword || deleteVaultPasswordRunning || updateVaultPasswordRunning}>
            {$_('vault.settings.buttons.delete')}
        </OnClickButton>
    </div>
</div>
<div class="md:basis-1/2 px-2">
</div>
