<script lang="ts">
    import Icon from "svelte-awesome/components/Icon.svelte";
    import clipboard from "svelte-awesome/icons/clipboard";
    import type { IconType } from "svelte-awesome/components/Icon.svelte";
    import { copyToClipboard } from "../../utils";

    export let value: string = undefined;
    export let getValueCallback: (() => string) = undefined;
    export let icon: IconType = clipboard;
    export let iconScale: number = 1.0;
    export let fieldTitle: string = '';
    export let buttonTitle: string = '';
    export let additionalClasses = '';
</script>

{#if (value || getValueCallback) && icon}
    <button on:click={() => copyToClipboard(value ?? getValueCallback(), fieldTitle)}
       title="{buttonTitle}"
       class="cursor-pointer px-0.5 {additionalClasses}">
        <Icon data={icon} scale={iconScale}/>
    </button>
{/if}
