<script lang="ts">
    import Icon from 'svelte-awesome/components/Icon.svelte';
    import { push } from 'svelte-spa-router'
    import OnClickButton from "../InteractionElements/OnClickButton.svelte";
    import { _ } from "svelte-i18n";
    import type { CredentialInterface } from "@binsky/passman-client-ts/lib/Interfaces/Credential/CredentialInterface";
    import Credential from "@binsky/passman-client-ts/lib/Model/Credential";
    import { CREDENTIAL_EDIT_SECTIONS } from "../../utils";
    import angleLeft from "svelte-awesome/icons/angleLeft";
    import save from "svelte-awesome/icons/save";
    import SidebarButtonEntry from "./SidebarButtonEntry.svelte";
    import caretRight from "svelte-awesome/icons/caretRight";
    import refresh from "svelte-awesome/icons/refresh";
    import { SharingACL } from "@binsky/passman-client-ts/lib/Model/SharingACL";


    export let selectedSection: CREDENTIAL_EDIT_SECTIONS = CREDENTIAL_EDIT_SECTIONS.GENERAL;
    export let credential: Credential;
    export let credentialData: CredentialInterface;
    export let saveCredential: (credentialData: CredentialInterface) => void;
    export let lockSaveButton = false;
    export let closed: boolean;

    const backToList = () => {
        push('/vault/' + credential.getVaultGuid());
    }

    const openSection = (section: CREDENTIAL_EDIT_SECTIONS) => {
        selectedSection = section;
        closed = true;
    }
</script>

<div class="flex-1 px-3 divide-y space-y-1">
    <div class="py-2">
        <div class="flex justify-between">
            <OnClickButton callback={backToList} title="{$_('sidebar.buttons.back')}">
                <Icon data={angleLeft} scale={1.3}/>
            </OnClickButton>
            <OnClickButton callback={() => saveCredential(credentialData)} title="{$_('sidebar.buttons.save')}"
                           bind:disabled="{lockSaveButton}">
                {#if lockSaveButton}
                    <Icon data={refresh} scale={1.3} spin="{true}"/>
                {:else}
                    <Icon data={save} scale={1.3}/>
                {/if}
            </OnClickButton>
        </div>
    </div>
    <ul class="space-y-2 py-2">
        <li>
            <SidebarButtonEntry callback="{() => openSection(CREDENTIAL_EDIT_SECTIONS.GENERAL)}"
                                text="{$_('sidebar.credential_sections.general')}"
                                enableStaticHoverBG="{selectedSection === CREDENTIAL_EDIT_SECTIONS.GENERAL}"
                                icon={caretRight}/>
        </li>
        <li>
            <SidebarButtonEntry callback="{() => openSection(CREDENTIAL_EDIT_SECTIONS.PASSWORD)}"
                                text="{$_('sidebar.credential_sections.password')}"
                                enableStaticHoverBG="{selectedSection === CREDENTIAL_EDIT_SECTIONS.PASSWORD}"
                                icon={caretRight}/>
        </li>
        {#if credential.acl === undefined || credential.acl.permissions.hasPermission(SharingACL.permissions.FILES)}
            <li>
                <SidebarButtonEntry callback="{() => openSection(CREDENTIAL_EDIT_SECTIONS.FILES)}"
                                    text="{$_('sidebar.credential_sections.files')}"
                                    enableStaticHoverBG="{selectedSection === CREDENTIAL_EDIT_SECTIONS.FILES}"
                                    icon={caretRight}/>
            </li>
        {/if}
        <li>
            <SidebarButtonEntry callback="{() => openSection(CREDENTIAL_EDIT_SECTIONS.CUSTOM_FIELDS)}"
                                text="{$_('sidebar.credential_sections.custom_fields')}"
                                enableStaticHoverBG="{selectedSection === CREDENTIAL_EDIT_SECTIONS.CUSTOM_FIELDS}"
                                icon={caretRight}/>
        </li>
        <li>
            <SidebarButtonEntry callback="{() => openSection(CREDENTIAL_EDIT_SECTIONS.OTP)}"
                                text="{$_('sidebar.credential_sections.otp')}"
                                enableStaticHoverBG="{selectedSection === CREDENTIAL_EDIT_SECTIONS.OTP}"
                                icon={caretRight}/>
        </li>
    </ul>
</div>
