<script lang="ts">
    import Footer from "../Footer.svelte";
    import Icon from "svelte-awesome/components/Icon.svelte";
    import bars from "svelte-awesome/icons/bars";

    export let closed = true;
</script>

<aside
        id="sidebar"
        class="fixed z-20 md:h-full {closed ? '' : 'h-full'} top-0 left-0 flex flex-shrink-0 flex-col transition-width duration-75 bg-base-100 dark:bg-neutral-800 dark:text-gray-200
w-full md:w-64"
        aria-label="Sidebar"
>
    <div class="relative flex-1 flex flex-col min-h-0 border-r border-gray-200 pt-0 divide-y">
        <div class="justify-between flex">
            <div class="inline">
                <img
                        src="{import.meta.env.BASE_URL}passman-blue.svg"
                        alt="Passman"
                        class="object-center inline-block w-16 p-2 dark:hidden"
                />
                <img
                        src="{import.meta.env.BASE_URL}passman.svg"
                        alt="Passman"
                        class="object-center w-16 p-2 hidden dark:inline-block"
                />
                <div class="inline-block align-middle">
                    <span class="font-bold text-xl">Passman</span>
                </div>
            </div>
            <div class="md:hidden inline-flex align-middle justify-end px-4">
                <button on:click={() => closed = !closed}>
                    <Icon data={bars} scale={1.3}/>
                </button>
            </div>
        </div>
        <div class="flex-1 flex md:flex flex-col pt-0 pb-4 overflow-y-auto {closed ? 'hidden' : ''}">
            <slot/>
        </div>
        <Footer additionalClasses="{closed ? 'hidden' : ''}"/>
    </div>
</aside>
