<script lang="ts">
    import { querystring } from "svelte-spa-router";
    import Icon from 'svelte-awesome/components/Icon.svelte';
    import type { IconData } from 'svelte-awesome/components/Icon.svelte';

    export let name: string;
    export let href: string;
    export let target = '_blank';
    export let matching: string = undefined;
    export let icon: Record<string, IconData>;
    export let counter: number | undefined = undefined;
</script>

<a
        {href}
        {target}
        class="text-base text-gray-900 dark:text-gray-200 font-normal rounded-lg hover:bg-gray-100 dark:hover:bg-neutral flex items-center p-2 group
								{matching != null && $querystring === matching ? 'bg-gray-100 dark:hover:bg-neutral' : ''}"
>
    <Icon data={icon} scale={1.3} style="color: #6b7280;"/>
    <span class="ml-3 flex-1 whitespace-nowrap">{name}</span>
    {#if counter !== undefined}
		<span
                class="bg-gray-200 dark:bg-primary-dark-button-hover text-gray-800 dark:text-gray-300 ml-3 text-sm font-medium inline-flex items-center justify-center
                      px-2 rounded-full"
        >
			{counter}
		</span>
    {/if}
</a>
