<script lang="ts">
    import type { IconData } from "svelte-awesome/components/Icon.svelte";
    import Icon from "svelte-awesome/components/Icon.svelte";

    export let callback = () => {
        undefined;
    };
    export let text: string;
    export let icon: Record<string, IconData>;
    export let additionalClasses = '';
    export let enableStaticHoverBG = false;
</script>

<button class="flex w-full p-2 hover:bg-base-200 dark:hover:bg-neutral rounded-3xl cursor-pointer select-none
{enableStaticHoverBG ? 'bg-base-200 dark:bg-neutral' : ''} {additionalClasses}"
     on:click={callback}>
    <Icon data={icon} scale={1.3} style="color: #6b7280;"/>
    <span class="ml-3 flex-1 whitespace-nowrap text-left">{text}</span>
</button>
