<script lang="ts">
    export let callback = () => {
        undefined;
    };
    export let text: string;
    export let counter: number | undefined;
    export let additionalClasses = '';
    export let bulletColor = 'grey';
    export let enableStaticHoverBG = false;
</script>

<button class="flex justify-between w-full p-2 hover:bg-base-200 dark:hover:bg-neutral rounded-3xl cursor-pointer select-none
{enableStaticHoverBG ? 'bg-base-200 dark:bg-neutral' : ''} {additionalClasses}"
     on:click={callback}>
    <div class="inline">
        <div class="app-navigation-entry-bullet-with-hover ml-1 bullet-color-{bulletColor}"></div>
        <span class="ml-3 flex-1 whitespace-pre-wrap">{text}</span>
    </div>
    {#if counter !== undefined}
		<span class="bg-gray-200 dark:!bg-gray-500 text-sm font-medium inline-flex items-center px-2 rounded-full">
			{counter}
		</span>
    {/if}
</button>

<style>
    .app-navigation-entry-bullet-with-hover {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: background 100ms ease-in-out;
    }

    .bullet-color-red {
        background-color: #ff0000;
    }

    .bullet-color-yellow {
        background-color: #ebbb00;
    }

    .bullet-color-green {
        background-color: #4db728;
    }

    .bullet-color-grey {
        background-color: #6b7280;
    }
</style>
