<script lang="ts">
    import Icon from 'svelte-awesome/components/Icon.svelte';
    import { push } from 'svelte-spa-router'
    import OnClickButton from "../InteractionElements/OnClickButton.svelte";
    import { _ } from "svelte-i18n";
    import { VAULT_SETTINGS_SECTIONS } from "../../utils";
    import angleLeft from "svelte-awesome/icons/angleLeft";
    import SidebarButtonEntry from "./SidebarButtonEntry.svelte";
    import caretRight from "svelte-awesome/icons/caretRight";
    import type Vault from "@binsky/passman-client-ts/lib/Model/Vault";


    export let selectedSection: VAULT_SETTINGS_SECTIONS = VAULT_SETTINGS_SECTIONS.GENERAL;
    export let vault: Vault;
    export let closed: boolean;

    const backToList = () => {
        push('/vault/' + vault.guid);
    }

    const openSection = (section: VAULT_SETTINGS_SECTIONS) => {
        selectedSection = section;
        closed = true;
    }
</script>

<div class="flex-1 px-3 divide-y space-y-1">
    <div class="py-2">
        <div class="flex justify-between">
            <OnClickButton callback={backToList} title="{$_('sidebar.buttons.back')}">
                <Icon data={angleLeft} scale={1.3}/>
            </OnClickButton>
        </div>
    </div>
    <ul class="space-y-2 py-2">
        <li>
            <SidebarButtonEntry callback="{() => openSection(VAULT_SETTINGS_SECTIONS.GENERAL)}"
                                text="{$_('sidebar.vault_settings_sections.general')}"
                                enableStaticHoverBG="{selectedSection === VAULT_SETTINGS_SECTIONS.GENERAL}"
                                icon={caretRight}/>
        </li>
        <li>
            <SidebarButtonEntry callback="{() => openSection(VAULT_SETTINGS_SECTIONS.PASSWORD_AUDIT)}"
                                text="{$_('sidebar.vault_settings_sections.password_audit')}"
                                enableStaticHoverBG="{selectedSection === VAULT_SETTINGS_SECTIONS.PASSWORD_AUDIT}"
                                icon={caretRight}/>
        </li>
        <li>
            <SidebarButtonEntry callback="{() => openSection(VAULT_SETTINGS_SECTIONS.PASSWORD_SETTINGS)}"
                                text="{$_('sidebar.vault_settings_sections.password_settings')}"
                                enableStaticHoverBG="{selectedSection === VAULT_SETTINGS_SECTIONS.PASSWORD_SETTINGS}"
                                icon={caretRight}/>
        </li>
        <li>
            <SidebarButtonEntry callback="{() => openSection(VAULT_SETTINGS_SECTIONS.IMPORT)}"
                                text="{$_('sidebar.vault_settings_sections.import')}"
                                enableStaticHoverBG="{selectedSection === VAULT_SETTINGS_SECTIONS.IMPORT}"
                                icon={caretRight}/>
        </li>
        <li>
            <SidebarButtonEntry callback="{() => openSection(VAULT_SETTINGS_SECTIONS.EXPORT)}"
                                text="{$_('sidebar.vault_settings_sections.export')}"
                                enableStaticHoverBG="{selectedSection === VAULT_SETTINGS_SECTIONS.EXPORT}"
                                icon={caretRight}/>
        </li>
        <li>
            <SidebarButtonEntry callback="{() => openSection(VAULT_SETTINGS_SECTIONS.SHARING)}"
                                text="{$_('sidebar.vault_settings_sections.sharing')}"
                                enableStaticHoverBG="{selectedSection === VAULT_SETTINGS_SECTIONS.SHARING}"
                                icon={caretRight}/>
        </li>
    </ul>
</div>
