<script lang="ts">
    import { onMount } from "svelte";
    import { get } from "svelte/store";
    import { push } from "svelte-spa-router";
    import { _ } from "svelte-i18n";
    import type { PassmanClient } from "@binsky/passman-client-ts";
    import passmanStore from "../../lib/stores/passman";
    import { notyError, notySuccess } from "../../lib/NotyService";
    import Sidebar from "../../lib/partials/Sidebar/Sidebar.svelte";
    import Loading from "../../lib/partials/Loading.svelte";
    import CredentialSidebarBody from "../../lib/partials/Sidebar/CredentialSidebarBody.svelte";
    import { CREDENTIAL_EDIT_SECTIONS, openVault } from "../../lib/utils";
    import EditGeneral from "../../lib/partials/CredentialSections/EditGeneral.svelte";
    import EditPassword from "../../lib/partials/CredentialSections/EditPassword.svelte";
    import type { CredentialInterface } from "@binsky/passman-client-ts/lib/Interfaces/Credential/CredentialInterface";
    import Credential from "@binsky/passman-client-ts/lib/Model/Credential";
    import EditCustomFields from "../../lib/partials/CredentialSections/EditCustomFields.svelte";
    import EditFiles from "../../lib/partials/CredentialSections/EditFiles.svelte";
    import EditOTP from "../../lib/partials/CredentialSections/EditOTP.svelte";
    import type Vault from "@binsky/passman-client-ts/lib/Model/Vault";

    export let params: { vaultGuid?: string, credentialGuid?: string } = {};

    let passmanClient: PassmanClient;
    let credential: Credential;
    let vault: Vault;
    let credentialData: CredentialInterface;    //data to work on
    let lockSaveButton = false;
    let menuClosed: boolean;

    let selectedSection: CREDENTIAL_EDIT_SECTIONS = CREDENTIAL_EDIT_SECTIONS.GENERAL;

    const backToList = () => {
        push('/vault/' + credential.getVaultGuid());
    }

    const saveCredential = async (credentialData: CredentialInterface) => {
        if (credentialData.label === null || credentialData.label.length === 0) {
            notyError($_('credential.edit.error_no_label'));
            return;
        }
        if (credentialData.password === undefined) {
            notyError($_('credential.edit.password_match_missing'));
            return;
        }
        if (credential.password !== credentialData.password) {
            credentialData.compromised = false;
        }
        lockSaveButton = true;

        credential.updateData(credentialData);
        if (await credential.save()) {
            vault.credentials.push(credential);
            notySuccess($_('credential.new.success'));
            backToList();
        } else {
            notyError($_('credential.errors.new_error'));
        }
        lockSaveButton = false;
    }

    onMount(async () => {
        if (params.vaultGuid) {
            passmanClient = get<PassmanClient>(passmanStore);
            vault = await passmanClient.getVaultByGuid(params.vaultGuid);
            if (!vault) {
                notyError($_('vault.errors.get_by_uuid_failed'));
                await push('/');
                return;
            }
            if (!openVault(vault)) {
                notyError($_('vault.errors.decryption_key_not_found'));
                await push('/vaults/login/' + params.vaultGuid);
                return;
            }

            // create an empty credential
            credential = new Credential(vault, passmanClient.server);
            credentialData = credential.exportData();
        } else {
            notyError($_('vault.errors.no_vault_selected'));
            await push('/');
        }
    });
</script>

{#if credential && credentialData}
    <Sidebar bind:closed={menuClosed}>
        <CredentialSidebarBody bind:closed={menuClosed} bind:selectedSection bind:credential bind:credentialData bind:lockSaveButton saveCredential="{saveCredential}"/>
    </Sidebar>
    <div class="md:pl-[17rem] pt-16 md:pt-4 flex">
        {#if selectedSection === CREDENTIAL_EDIT_SECTIONS.GENERAL}
            <EditGeneral bind:credentialData/>
        {:else if selectedSection === CREDENTIAL_EDIT_SECTIONS.PASSWORD}
            <EditPassword bind:credentialData/>
        {:else if selectedSection === CREDENTIAL_EDIT_SECTIONS.CUSTOM_FIELDS}
            <EditCustomFields bind:credentialData credential={credential}/>
        {:else if selectedSection === CREDENTIAL_EDIT_SECTIONS.FILES}
            <EditFiles bind:credentialData credential={credential}/>
        {:else if selectedSection === CREDENTIAL_EDIT_SECTIONS.OTP}
            <EditOTP bind:credentialData/>
        {/if}
    </div>
{:else}
    <Loading/>
{/if}
