<script lang="ts">
    import type Credential from "@binsky/passman-client-ts/lib/Model/Credential";
    import { _ } from "svelte-i18n";
    import SecretField from "../FormElements/SecretField.svelte";
    import CopyClipboardButton from "../InteractionElements/CopyClipboardButton.svelte";
    import Time from "svelte-time";
    import Icon from "svelte-awesome/components/Icon.svelte";
    import externalLink from "svelte-awesome/icons/externalLink";
    import exclamationCircle from "svelte-awesome/icons/exclamationCircle";
    import pencilSquareO from "svelte-awesome/icons/pencilSquareO";
    import trashO from "svelte-awesome/icons/trashO";
    import recycle from "svelte-awesome/icons/recycle";
    import bomb from "svelte-awesome/icons/bomb";
    import TagsView from "./TagsView.svelte";
    import OTPGenerator from "./OTPGenerator.svelte";
    import { CustomMathsService } from "@binsky/passman-client-ts/lib/Service/CustomMathsService";
    import OnClickButton from "../InteractionElements/OnClickButton.svelte";
    import { push } from "svelte-spa-router";
    import { deleteCredential, recoverCredential } from "../../utils";
    import type { FileInterface } from "@binsky/passman-client-ts/lib/Interfaces/File/FileInterface";
    import { SharingACL } from "@binsky/passman-client-ts/lib/Model/SharingACL";

    export let credential: Credential;
    export let reactiveRefreshCounter: number;

    let expire_time_formatted: string;
    let created_formatted: string;
    let changed_formatted: string;
    let otp_token: string;
    export let showLoadingOverlay: boolean = false;

    const editCredential = () => {
        push('/vault/' + credential.getVaultGuid() + '/' + credential.guid + '/edit');
    }

    const _deleteCredential = async () => {
        await deleteCredential(credential);
        reactiveRefreshCounter++;
    }

    const _destroyCredential = async () => {
        await deleteCredential(credential);
        reactiveRefreshCounter++;
        credential = undefined;
    }

    const _recoverCredential = () => {
        recoverCredential(credential);
        reactiveRefreshCounter++;
    }

    const downloadFile = async (file: FileInterface) => {
        showLoadingOverlay = true;
        try {
            await credential.downloadFile(file);
        } catch (e) {
            console.error('Unexpected error during file download', e);
        }
        showLoadingOverlay = false;
    }
</script>

{#if credential}
    {#if credential.acl === undefined || credential.acl.permissions.hasPermission(SharingACL.permissions.READ)}
        {#if credential.compromised}
            <div class="text-sm text-red-600 !mb-4">
                <Icon data={exclamationCircle} scale={1.0}/>
                {$_('credential.details.compromised_notice')}
            </div>
        {/if}
        {#if credential.username != null && credential.username !== ''}
            <div class="flex flex-wrap text-sm">
                <div class="basis-3/12 grow">{$_('credential.field.username')}</div>
                <div class="basis-8/12 break-all">
                    {credential.username}
                </div>
                <div class="basis-1/12 grow">
                    <CopyClipboardButton bind:value={credential.username}
                                         buttonTitle="{$_('vault.list.copy_to_clipboard')}"
                                         fieldTitle="{$_('credential.field.username')}"/>
                </div>
            </div>
        {/if}
        {#if credential.password != null && credential.password !== ''}
            <div class="flex flex-wrap text-sm">
                <div class="basis-3/12 grow">{$_('credential.field.password')}</div>
                <div class="basis-8/12 break-all">
                    <SecretField bind:value={credential.password}/>
                </div>
                <div class="basis-1/12 grow">
                    <CopyClipboardButton bind:value={credential.password}
                                         buttonTitle="{$_('vault.list.copy_to_clipboard')}"
                                         fieldTitle="{$_('credential.field.password')}"/>
                </div>
            </div>
        {/if}
        {#if credential.otp != null && credential.otp.secret != null}
            <div class="flex flex-wrap text-sm">
                <div class="basis-3/12 grow">{$_('credential.field.otp')}</div>
                <div class="basis-8/12 break-all">
                    <OTPGenerator bind:otp={credential.otp} bind:token={otp_token}/>
                </div>
                <div class="basis-1/12 grow">
                    <CopyClipboardButton bind:value={otp_token} buttonTitle="{$_('vault.list.copy_to_clipboard')}"
                                         fieldTitle="{$_('credential.field.otp')}"/>
                </div>
            </div>
        {/if}
        {#if credential.email != null && credential.email !== ''}
            <div class="flex flex-wrap text-sm">
                <div class="basis-3/12 grow">{$_('credential.field.email')}</div>
                <div class="basis-8/12 break-all">
                    {credential.email}
                </div>
                <div class="basis-1/12 grow">
                    <CopyClipboardButton bind:value={credential.email}
                                         buttonTitle="{$_('vault.list.copy_to_clipboard')}"
                                         fieldTitle="{$_('credential.field.email')}"/>
                </div>
            </div>
        {/if}
        {#if credential.url != null && credential.url !== ''}
            <div class="flex flex-wrap text-sm">
                <div class="basis-3/12 grow">{$_('credential.field.url')}</div>
                <div class="basis-8/12 break-all">
                    {credential.url}
                    <a href="{credential.url}" target="_blank"
                       class="cursor-pointer px-0.5">
                        <Icon data={externalLink} scale={1.0}/>
                    </a>
                </div>
                <div class="basis-1/12 grow">
                    <CopyClipboardButton bind:value={credential.url} buttonTitle="{$_('vault.list.copy_to_clipboard')}"
                                         fieldTitle="{$_('credential.field.url')}"/>
                </div>
            </div>
        {/if}
        {#if credential.description != null && credential.description !== ''}
            <div class="flex flex-wrap text-sm">
                <div class="basis-3/12 grow">{$_('credential.field.description')}</div>
                <div class="basis-8/12 break-all">
                    {credential.description}
                </div>
                <div class="basis-1/12 grow">
                    <CopyClipboardButton bind:value={credential.description}
                                         buttonTitle="{$_('vault.list.copy_to_clipboard')}"
                                         fieldTitle="{$_('credential.field.description')}"/>
                </div>
            </div>
        {/if}
        {#if credential.acl === undefined || credential.acl.permissions.hasPermission(SharingACL.permissions.FILES)}
            {#if credential.files != null && credential.files.length > 0}
                <div class="flex flex-wrap text-sm">
                    <div class="basis-3/12 grow">{$_('credential.field.files')}</div>
                    <div class="basis-9/12 break-all space-y-2">
                        {#each credential.files as file, index}
                            <p>
                                <button class="link link-hover text-primary text-left" on:click={() => downloadFile(file)}>
                                    {file.filename} ({CustomMathsService.calculateFromByte(file.size)})
                                </button>
                            </p>
                        {/each}
                    </div>
                </div>
            {/if}
        {/if}
        {#if credential.custom_fields != null && credential.custom_fields.length > 0}
            {#each credential.custom_fields as field, index}
                <div class="flex flex-wrap text-sm">
                    <div class="basis-3/12 grow">{field.label}</div>
                    {#if field.field_type === 'file'}
                        <div class="basis-9/12 break-all">
                            <p>
                                <button class="link link-hover text-primary text-left" on:click={() => downloadFile(field.value)}>
                                    {field.value.filename} ({CustomMathsService.calculateFromByte(field.value.size)})
                                </button>
                            </p>
                        </div>
                    {:else}
                        <div class="basis-8/12 break-all">
                            {#if field.field_type === 'password'}
                                <SecretField bind:value={field.value}/>
                            {:else}
                                <p>
                                    {field.value}
                                </p>
                            {/if}
                        </div>
                        <div class="basis-1/12 grow">
                            <CopyClipboardButton bind:value={field.value}
                                                 buttonTitle="{$_('vault.list.copy_to_clipboard')}"
                                                 fieldTitle="{field.label}"/>
                        </div>
                    {/if}
                </div>
            {/each}
        {/if}
    {/if}
    {#if credential.expire_time != null && credential.expire_time > 0}
        <div class="flex flex-wrap text-sm">
            <div class="basis-3/12 grow">{$_('credential.field.expire_time')}</div>
            <div class="basis-8/12">
                <Time timestamp={credential.expire_time * 1000} format="YYYY-MM-DD HH:mm:ss"
                      bind:formatted={expire_time_formatted}/>
            </div>
            <div class="basis-1/12 grow">
                <CopyClipboardButton bind:value={expire_time_formatted}
                                     buttonTitle="{$_('vault.list.copy_to_clipboard')}"
                                     fieldTitle="{$_('credential.field.expire_time')}"/>
            </div>
        </div>
    {/if}
    {#if credential.created != null}
        <div class="flex flex-wrap text-sm">
            <div class="basis-3/12 grow">{$_('credential.field.created')}</div>
            <div class="basis-8/12">
                <Time timestamp={credential.created * 1000} format="YYYY-MM-DD HH:mm:ss"
                      bind:formatted={created_formatted}/>
            </div>
            <div class="basis-1/12 grow">
                <CopyClipboardButton bind:value={created_formatted} buttonTitle="{$_('vault.list.copy_to_clipboard')}"
                                     fieldTitle="{$_('credential.field.created')}"/>
            </div>
        </div>
    {/if}
    {#if credential.changed != null}
        <div class="flex flex-wrap text-sm">
            <div class="basis-3/12 grow">{$_('credential.field.changed')}</div>
            <div class="basis-8/12">
                <Time timestamp={credential.changed * 1000} format="YYYY-MM-DD HH:mm:ss"
                      bind:formatted={changed_formatted}/>
            </div>
            <div class="basis-1/12 grow">
                <CopyClipboardButton bind:value={changed_formatted} buttonTitle="{$_('vault.list.copy_to_clipboard')}"
                                     fieldTitle="{$_('credential.field.changed')}"/>
            </div>
        </div>
    {/if}
    {#if credential.tags != null && credential.tags.length > 0}
        <div class="flex flex-wrap text-sm">
            <div class="basis-3/12 grow">{$_('credential.field.tags')}</div>
            <div class="basis-9/12">
                <TagsView tags={credential.tags}/>
            </div>
        </div>
    {/if}
    <div class="flex flex-wrap !mt-8 space-x-2">
        {#if credential.acl === undefined || credential.acl.permissions.hasPermission(SharingACL.permissions.WRITE)}
            {#if credential.delete_time !== null && credential.delete_time > 0}
                <OnClickButton callback={_recoverCredential} title="{$_('vault.list.recover')}"
                               additionalClasses="hover:text-green-600">
                    <Icon data={recycle} scale={1.3}/>
                    {$_('vault.list.recover')}
                </OnClickButton>
                <OnClickButton callback={_destroyCredential} title="{$_('vault.list.destroy')}"
                               additionalClasses="hover:text-red-600">
                    <Icon data={bomb} scale={1.3}/>
                    {$_('vault.list.destroy')}
                </OnClickButton>
            {:else}
                <OnClickButton callback={editCredential} title="{$_('vault.list.edit')}">
                    <Icon data={pencilSquareO} scale={1.3}/>
                    {$_('vault.list.edit')}
                </OnClickButton>
                <OnClickButton callback={_deleteCredential} title="{$_('vault.list.delete')}"
                               additionalClasses="hover:text-red-600">
                    <Icon data={trashO} scale={1.3}/>
                    {$_('vault.list.delete')}
                </OnClickButton>
            {/if}
        {/if}
    </div>
{/if}
