<script lang="ts">
    import { onDestroy } from 'svelte';
    import ncAuthStore from "../stores/ncAuth";
    import type { NextcloudServerInfoInterface } from "@binsky/passman-client-ts/lib/Interfaces/NextcloudServer/NextcloudServerInfoInterface";
    import NextcloudLogin from "./NextcloudLogin.svelte";
    import passmanStore from "../stores/passman";
    import Footer from "./Footer.svelte";

    let ok = false;
    export let hiddenPlaceholder = false;

    const unsubscribe = ncAuthStore.subscribe((state: NextcloudServerInfoInterface) => {
        ok = state.baseUrl !== undefined && state.user !== undefined && state.token !== undefined && state.token !== '' && $passmanStore !== undefined;
    });

    onDestroy(unsubscribe);
</script>

{#if ok}
    <slot/>
{:else if hiddenPlaceholder}
    <div hidden={hiddenPlaceholder}/>
{:else}
    <NextcloudLogin/>
    <Footer/>
{/if}
