<script lang="ts">
    import Icon from "svelte-awesome/components/Icon.svelte";
    import moonO from "svelte-awesome/icons/moonO";

    export let additionalClasses = '';

    const toggleDarkMode = () => {
        if (document.documentElement.classList.toggle('dark')) {
            document.documentElement.classList.remove('light');
        } else {
            document.documentElement.classList.add('light');
        }
    };
</script>

<footer class="flex md:flex justify-center text-xs divide-x-2 {additionalClasses}">
    <button on:click={toggleDarkMode} class="pr-2 pb-[3px]"><Icon data={moonO} scale="{0.9}"/></button>
    <p class="pl-2 pr-2">App version: {import.meta.env.PACKAGE_VERSION}</p>
    <a class="pl-2 link" href="https://gitlab.com/binsky08/passman-svelte" target="_blank">Repository</a>
</footer>
