<script lang="ts">
    import ShowFieldErrors from './ShowFieldErrors.svelte';
    import type { IFormFieldError } from "@binsky/passman-client-ts/lib/Exception/FormFieldError";

    export let id = undefined;
    export let label: string;
    export let nameForErrors = '';
    export let errors: IFormFieldError[] = [];
</script>

<label for={id} class="text-sm font-medium text-primary-light-text dark:text-primary-dark-text block mb-2">
    {label}
</label>
<slot/>
<ShowFieldErrors bind:errors showForName={nameForErrors}/>
