<script lang="ts">
    import { _, dictionary, locale } from 'svelte-i18n';
    import * as langDataEN from './lang/en.json';
    import { SvelteToast } from "@zerodevx/svelte-toast";
    import Router from 'svelte-spa-router'
    import routes from "./routes";
    import AuthGuard from "./lib/partials/AuthGuard.svelte";
    import { onMount } from "svelte";
    import { BrowserStorage } from "./lib/stores/browser";
    import ncAuthStore, { PERSISTENT_AUTH_STORE_ACCESS_KEY } from "./lib/stores/ncAuth";
    import { notyError } from "./lib/NotyService";
    import ConfigurationError from "@binsky/passman-client-ts/lib/Exception/ConfigurationError";
    import passmanStore from "./lib/stores/passman";
    import Loading from "./lib/partials/Loading.svelte";
    import { MyLoggingService } from "./lib/MyLoggingService";
    import { PassmanClient } from "@binsky/passman-client-ts";
    import type {
        NextcloudServerInfoInterface
    } from "@binsky/passman-client-ts/lib/Interfaces/NextcloudServer/NextcloudServerInfoInterface";

    const toastOptions = { pausable: true };
    let initializing = true;

    dictionary.set({
        en: langDataEN
    });
    locale.set('en');

    const initDarkMode = () => {
        // select initial dark or light mode on page load
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.documentElement.classList.add('dark');
            document.documentElement.classList.remove('light');
        } else {
            document.documentElement.classList.remove('dark');
            document.documentElement.classList.add('light');
        }

        // get MediaQueryList
        const darkModePreference = window.matchMedia('(prefers-color-scheme: dark)');

        // dynamically update the page theme if prefers-color-scheme media rule changes
        darkModePreference.addEventListener('change', (e) => {
            if (e.matches) {
                document.documentElement.classList.add('dark');
                document.documentElement.classList.remove('light');
            } else {
                document.documentElement.classList.remove('dark');
                document.documentElement.classList.add('light');
            }
        });
    };

    onMount(async () => {
        initDarkMode();

        // get and check login info from BrowserStorage, if succeeded, write to authStore, to release AuthGuard
        const bs = BrowserStorage.getInstance();
        const authInfo = bs.get(PERSISTENT_AUTH_STORE_ACCESS_KEY) as NextcloudServerInfoInterface;
        if (authInfo) {
            ncAuthStore.set(authInfo);
            try {
                const passmanClient = new PassmanClient(authInfo, undefined, new MyLoggingService());
                //do not use server translations for the first time, as long as this is a standalone beta app
                //await passmanClient.getTranslation('en');
                if (await passmanClient.refreshVaults()) {
                    passmanStore.set(passmanClient);
                    //notySuccess($_('nextcloud.autologin.succeeded'));
                } else {
                    notyError($_('nextcloud.autologin.failed'));
                }
            } catch (error: ConfigurationError | any) {
                notyError(error.message);
            }
        }
        initializing = false;
    });
</script>

<div class="flex flex-col min-h-screen">
    {#if initializing}
        <Loading/>
    {:else}
        <AuthGuard>
            <main class="flex flex-1 flex-col max-w-full">
                <Router {routes}/>
            </main>
        </AuthGuard>
    {/if}
</div>
<SvelteToast options="{toastOptions}"/>

<style>
    :root {
        --toastContainerTop: auto;
        --toastContainerBottom: 1.5rem;
    }
</style>
