/* Write your global styles here, in PostCSS syntax */

@tailwind base;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html.light {
  color: #213547;
  background-color: #ffffff;
}
html.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
}

html.light .svelte-tags-input-tag {
  background-color: hsl(var(--b2)) !important;
  color: #213547 !important;
}
html.dark .svelte-tags-input-tag {
  background-color: hsl(213.5, 18.7%, 35.7%) !important;
  color: rgba(255, 255, 255, 0.87) !important;
}
html.dark .svelte-tags-input-layout {
  background-color: hsl(var(--n)) !important;
}

@tailwind components;

@tailwind utilities;
