<script lang="ts">
    import { onMount } from "svelte";
    import { get } from 'svelte/store';
    import Time from 'svelte-time';
    import passmanStore from "../../lib/stores/passman";
    import { push } from "svelte-spa-router";
    import { _ } from "svelte-i18n";
    import signOut from "svelte-awesome/icons/signOut";
    import refresh from "svelte-awesome/icons/refresh";
    import Icon from "svelte-awesome/components/Icon.svelte";
    import OnClickButton from "../../lib/partials/InteractionElements/OnClickButton.svelte";
    import ncAuthStore, { PERSISTENT_AUTH_STORE_ACCESS_KEY } from "../../lib/stores/ncAuth";
    import { BrowserStorage } from "../../lib/stores/browser";
    import type Vault from "@binsky/passman-client-ts/lib/Model/Vault";
    import type { PassmanClient } from "@binsky/passman-client-ts";

    let passmanClient: PassmanClient;
    let vaults: Vault[] = [];
    let lockRefreshButton = false;

    const newVault = () => {
        push('/vaults/new');
    }
    const selectVault = (vault: Vault) => {
        push('/vault/' + vault.guid);
    }
    const nextcloudSignOut = () => {
        console.log('nextcloudSignOut');
        BrowserStorage.getInstance().del(PERSISTENT_AUTH_STORE_ACCESS_KEY);
        ncAuthStore.set({
            baseUrl: $ncAuthStore?.baseUrl, persistence: $ncAuthStore?.persistence, token: "", user: $ncAuthStore?.user
        });
        passmanStore.set(undefined);
    }

    const refreshVaults = () => {
        lockRefreshButton = true;
        passmanClient.refreshVaults().then(value => {
            if (value) {
                vaults = passmanClient.vaults;
            }
            lockRefreshButton = false;
        });
    }

    onMount(async () => {
        passmanClient = get<PassmanClient>(passmanStore);
        if (passmanClient.vaults === undefined || passmanClient.vaults.length <= 0) {
            refreshVaults();
        } else {
            vaults = passmanClient.vaults;
        }
    });
</script>

<div class="bg-base-100 shadow-md rounded-md overflow-hidden max-w-lg mx-auto mt-16 dark:bg-neutral-focus">
    <div class="bg-base-200 py-2 px-4 flex justify-between dark:bg-neutral">
        <h2 class="text-xl font-semibold">{$_('vault.select.vaults')}</h2>
        <div class="flex space-x-2">
            <OnClickButton callback={refreshVaults} title="{$_('buttons.refresh_vaults')}" small={true}
                           bind:disabled="{lockRefreshButton}">
                <Icon data={refresh} spin="{lockRefreshButton}"/>
            </OnClickButton>
            <OnClickButton callback={nextcloudSignOut} title="{$_('buttons.sign_out')}" small={true}>
                <Icon data={signOut}/>
            </OnClickButton>
        </div>
    </div>
    <ul class="divide-y divide-gray-200">
        <li class="flex items-start hover:bg-base-200 dark:hover:bg-neutral">
            <button class="py-4 px-6 w-full text-left" on:click={newVault}>
                <span class="text-lg font-medium mr-4">+ {$_('vault.select.new')}</span>
            </button>
        </li>
        {#each vaults as vault, index}
            <li class="items-center hover:bg-base-200 dark:hover:bg-neutral cursor-pointer">
                <button class="py-4 px-6 text-left" on:click={() => {selectVault(vault)}}>
                    <p class="text-lg font-medium mr-4 w-full">{vault.name}</p>
                    <small class="text-[#a6adba]">
                        {$_('vault.select.created')}:
                        <Time timestamp={vault.created * 1000} format="YYYY-MM-DD HH:mm:ss"/>
                        |
                        {$_('vault.select.last_access')}:
                        {#if vault.last_access > 0}
                            <Time timestamp={vault.last_access * 1000} format="YYYY-MM-DD HH:mm:ss"/>
                        {:else }
                            {$_('vault.select.never')}
                        {/if}
                    </small>
                </button>
            </li>
        {/each}
    </ul>
</div>
