<script lang="ts">
    import type { PassmanClient } from "@binsky/passman-client-ts";
    import { field, form } from 'svelte-forms';
    import { min, required } from 'svelte-forms/validators';
    import CustomInputField from "../../lib/partials/FormElements/CustomInputField.svelte";
    import Card from "../../lib/partials/Card.svelte";
    import OnClickButton from "../../lib/partials/InteractionElements/OnClickButton.svelte";
    import { onMount } from "svelte";
    import passmanStore from "../../lib/stores/passman";
    import InternalHrefLinkButton from "../../lib/partials/InteractionElements/InternalHrefLinkButton.svelte";
    import { get } from "svelte/store";
    import Vault from "@binsky/passman-client-ts/lib/Model/Vault";
    import { notyError } from "../../lib/NotyService";
    import { push } from "svelte-spa-router";
    import { _ } from "svelte-i18n";
    import { BrowserStorage, BrowserStorageType } from "../../lib/stores/browser";
    import Radio from "../../lib/partials/FormElements/Radio.svelte";

    export let params: { vaultGuid?: string } = {};

    const password = field('password', '', [required(), min(3)], { checkOnInit: true });
    const authPersistence = field('authPersistence', BrowserStorageType.MEMORY, [required()], { checkOnInit: true });
    const loginVaultForm = form(password, authPersistence);

    const storageOptions = [
        {
            value: BrowserStorageType.MEMORY,
            label: $_('nextcloud.login.storage_option.memory'),
        },
        {
            value: BrowserStorageType.SESSION,
            label: $_('nextcloud.login.storage_option.session'),
        },
        {
            value: BrowserStorageType.PERSISTENT,
            label: $_('nextcloud.login.storage_option.persistent'),
        }
    ];

    let passmanClient: PassmanClient;
    let error = '';
    let vault: Vault;

    const login = async () => {
        if ($password.value != '' && $password.value.length >= 3 && vault.testVaultKey($password.value)) {
            // use try catch because the decrypted challenge_password could also contain valid null
            error = '';
            vault.vaultKey = $password.value;
            if ($authPersistence.value !== BrowserStorageType.MEMORY) {
                const vs = BrowserStorage.getInstance('vault-' + vault.guid, $authPersistence.value);
                vs.set('vaultKey', $password.value);
            }
            await push('/vault/' + vault.guid);
        } else {
            error = $_('vault.errors.wrong_password');
        }
    };

    onMount(async () => {
        if (params.vaultGuid) {
            passmanClient = get<PassmanClient>(passmanStore);
            vault = await passmanClient.getVaultByGuid(params.vaultGuid);
            if (!vault) {
                notyError($_('vault.errors.get_by_uuid_failed'));
            }
        } else {
            notyError($_('vault.errors.no_vault_selected'));
        }
    });
</script>

<div class="mx-auto flex mt-20 w-full items-center justify-center">
    <Card additionalClasses="text-left w-[32rem]">
        {#if (vault)}
            <form on:submit|preventDefault={login}>
                <CustomInputField label="{$_('vault.login.enter_password_for', { values: {name: vault.name}} )}"
                                  bind:value={$password.value}
                                  tabindex="1"
                                  type="password"/>
                <div class="mt-2 text-red-600">
                    {error}
                </div>
                <div class="mt-4">
                    <Radio options="{storageOptions}" legend="{$_('vault.login.storage_option_legend')}"
                           bind:userSelected={$authPersistence.value}/>
                    <small>{$_('vault.login.storage_lock_notice')}</small>
                </div>
                <div class="mt-4 flex justify-between">
                    <OnClickButton disabled={!$loginVaultForm.valid} tabindex="2"
                                   callback="{login}">{$_('vault.login.decrypt_vault_button')}</OnClickButton>
                    <InternalHrefLinkButton href="/"
                                            additionalClasses="bg-red-600 hover:bg-red-500">{$_('buttons.abort')}
                    </InternalHrefLinkButton>
                </div>
            </form>
        {/if}
    </Card>
</div>
