<script lang="ts">
    import type { PassmanClient } from "@binsky/passman-client-ts";
    import { field, form } from 'svelte-forms';
    import { matchField, min, required } from 'svelte-forms/validators';
    import CustomInputField from "../../lib/partials/FormElements/CustomInputField.svelte";
    import Card from "../../lib/partials/Card.svelte";
    import OnClickButton from "../../lib/partials/InteractionElements/OnClickButton.svelte";
    import { onMount } from "svelte";
    import passmanStore from "../../lib/stores/passman";
    import InternalHrefLinkButton from "../../lib/partials/InteractionElements/InternalHrefLinkButton.svelte";
    import PasswordMeter from "../../lib/partials/VaultView/PasswordMeter.svelte";
    import { get } from "svelte/store";
    import { push } from "svelte-spa-router";
    import { _ } from "svelte-i18n";

    const name = field('name', '', [required()], { checkOnInit: true });
    const password = field('password', '', [required(), min(3)], { checkOnInit: true });
    const passwordRepeat = field('passwordRepeat', '', [required(), matchField(password)], { checkOnInit: true });
    const createVaultForm = form(name, password, passwordRepeat);

    let passmanClient: PassmanClient;
    let requiredVaultKeyScore = 1;
    let currentVaultKeyScore = 0;
    let error = "";

    const createVault = async () => {
        console.log("create");
        let newVault = await passmanClient.createVault($name.value, $password.value);
        console.log(newVault);
        await push('/');
    };

    onMount(async () => {
        passmanClient = get<PassmanClient>(passmanStore);
    });
</script>

<div class="mx-auto flex mt-20 w-full items-center justify-center">
    <Card additionalClasses="text-left w-[32rem]">
        <CustomInputField label="{$_('vault.new.name')}" bind:value={$name.value}/>
        <div class="mt-2">
            <CustomInputField label="{$_('vault.new.password')}" bind:value={$password.value}
                              type="password"/>
        </div>
        <div class="mt-[5px]">
            <PasswordMeter password={$password.value} bind:score={currentVaultKeyScore}/>
        </div>
        <div class="mt-2">
            <CustomInputField label="{$_('vault.new.password_repeat')}" bind:value={$passwordRepeat.value}
                              type="password"/>
        </div>
        {#if requiredVaultKeyScore > currentVaultKeyScore}
            <div class="text-red-600">
                <p>'min.vault.key.strength' | translate:required_score </p>
            </div>
        {/if}
        <div class="mt-4 flex justify-between">
            <OnClickButton disabled={!$createVaultForm.valid}
                           callback="{createVault}">{$_('vault.new.create')}</OnClickButton>
            <InternalHrefLinkButton href="/" additionalClasses="bg-red-600 hover:bg-red-500">{$_('buttons.abort')}
            </InternalHrefLinkButton>
        </div>
    </Card>
</div>
